@using Microsoft.AspNetCore.Components
@using Elsa.OnBoardingProcess.PoC.Models
@inherits Elsa.OnBoardingProcess.PoC.Components.CustomDynamicComponent<Elsa.OnBoardingProcess.PoC.Models.UserDetailsData>

<h3>User Information</h3>
<form>
    <div class="form-group">
        <label for="firstName">First Name:</label>
        <input type="text" class="form-control" id="firstName" placeholder="Enter first name" @bind-value="@Value.FirstName">
    </div>
    <div class="form-group">
        <label for="lastName">Last Name:</label>
        <input type="text" class="form-control" id="lastName" placeholder="Enter last name" @bind-value="@Value.LastName">
    </div>

</form>

@code {

    protected override void OnParametersSet()
    {
        if (Value == null)
        {
            Value = new UserDetailsData();
        }
    }

}