@page "/"
@using Elsa.OnBoardingProcess.PoC.Services

@inject WorkflowDefinitionService workflowDefinitionService
@inject NavigationManager navigationManager;

<h1>Welcome to our onboarding process!</h1>

<form class="form-horizontal">
    <div class="form-group">
        <label for="processId">Process Identifier:</label>
        <input id="processId" class="form-control" @bind="@processIdentifier"/>
    </div>
    <div class="form-group">
        <label for="correlation">Correlation:</label>
        <input id="correlation" class="form-control" @bind="@correlation"/>
    </div>
    <div class="form-group">
    </div>
</form>

<button class="btn btn-primary" onclick=@StartOnBoardingProcess>Start OnBoarding Process</button>


@code{
    private string processIdentifier = "OnBoardingWorkflow";
    private string? correlation;

    private async Task StartOnBoardingProcess()
    {
    //change this to start a workflow instance ( dispatch) instead of assuming we start with a signal
        var workflowsResponse = await workflowDefinitionService.StartWorkflowDefinition(processIdentifier, correlation);
        navigationManager.NavigateTo($"onboarding/{workflowsResponse.WorkflowInstanceId}");
    }

}